* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, #050F68,#010159,#01014A,#01013B,#00002E);
    height: 100vh;
}

/* Cabeçalho */

nav {
    padding-top: 25px;
    height: 10vh;
    width: 70vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    min-width: 600px;
    gap: 3rem;
}
.menu_item {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 1px;
}
.menu_item:hover {
    border-bottom: solid 2px white;
    padding: 5px;
    transition: 0.2s
}

.dropdown {
    /* display: none; */
    background-color: rgba(128, 128, 128, 0.301);
    width: 15rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.dropdown_item {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 25px;
}

.dropdown_lista:hover {
    padding: 55px;
}

@media (max-width: 750px) {
    .dropdown {
        display: block;
    }
    /* .menu_lista { */
        display: none;
    }
}

/* Conteúdo Principal */


.foto_perfil {
    background-image: url(foto/perfil.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 230px;
    width: 230px;
    margin: auto;
    border-radius: 500px;
}

.container > h1 {
    padding-top: 25px;
    text-align: center;
}

/* Rodapé */

footer {
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}