* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, #050F68,#010159,#01014A,#01013B,#00002E);
    height: 100vh;
}

/* Cabeçalho */

header {
    padding: 24px;
}

.menu_lista {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0px 14rem;
    padding: 25px;
}
.menu_item {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.menu_item:hover {
    color: rgb(199, 54, 2);
}

.dropdown {
    /* display: none; */
    background-color: rgba(128, 128, 128, 0.301);
    width: 15rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.dropdown_item {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 25px;
}

.dropdown_lista:hover {
    padding: 55px;
}

@media (max-width: 750px) {
    .dropdown {
        display: block;
    }
    .menu_lista {
        display: none;
    }
}

/* Conteúdo Principal */

main {
    color: white;
}

main > div {
    width: 70%;
    margin: auto;
}

/* Rodapé */

footer {
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

footer > a {
	color: #fff;
	text-decoration: none;
}