:root { /* Criei variáveis para utilizar */
        --fonte-primaria: BEBAS NEUE;
        --fonte-secundaria: NANUM GOTHIC;
        --cor-principal: #006CD1;
}
@font-face {
    font-family: outline;
    src: url(Fontes-Externas/Chalk\ Line\ Outline.ttf);
}

body { /* Resetei o Padrão do navegador */
    margin: 0;
    padding: 0;
}

body { /*Transformei e fiz a estrutura básica */
    display: grid;
    grid-template-columns: 20% 80%;
}
.conteudo_principal { /* Separei o menu do conteúdo e defini a altura */
    margin-left: 20px;
    margin-right: 30px;
    min-height: 100vh;
}
.menu_lateral { /* Apliquei estilo */
    background-color: var(--cor-principal);
    font-family: var(--fonte-primaria);
    min-height: 100vh;
}
.menu_lista > a:hover {
    color: white;
}
.menu_lista { /* Resetei o padrão lista */
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu_lista { /* Utilizei Flexbox para separar itens da lista */
    display: flex;
    flex-direction: column;
    font-size: 45px;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.menu_item { /* Apliquei estilo nos item */ 
    text-decoration: none;
    color: black;
}
.titulo-principal { /* Apliquei estilo no Titulo */
    font-family: var(--fonte-primaria);
    font-size: 5em;
    border: 5px dotted;
    margin: 1% 15% 5%;
    text-align: center;
}
.sobre-mim-frase {
    color: var(--cor-principal);
    font-family: var(--fonte-primaria);
    font-weight: bold;
}
.apresentacao_sobremim {
    font-family: var(--fonte-secundaria);
    font-size: 22px;
}
.container_sobremim {
    font-family: var(--fonte-secundaria);
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    text-align: justify;
}
.profissionalmente {
    background-color: var(--cor-principal);
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
}
.titulo_sobremim {
    font-family: var(--fonte-primaria);
    text-align: center;
    font-size: 35px;
}
.titulo_linguas {
    border: 5px dotted;
}

/*Aqui começa a Segunda Página*/

.titulo_secundario { /*A partir daqui todos os titulos secundarios são iguais*/
    font-family: var(--fonte-primaria);
    color: var(--cor-principal);
    text-align: center;
    font-size: 30px;
}
.container_formacao {
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-secundaria);
    text-align: center;
}
.ensino_superior {
    width: 50%;
    padding: 15px;
}
.tecnico {
    width: 50%;
    margin-left: 15px;
    padding: 15px;
}
.programacao {
    text-align: center;
    border: 5px dotted var(--cor-principal);
    border-radius: 15px;
}

/* Terceira Página */

.container_experiencia {
    display: grid;
    grid-template-columns: 35% 35%;
    margin-left: 20%;
}

.cargo_item {
    font-family: var(--fonte-secundaria);
    border: 3px solid black;
    border-radius: 15px;
    padding: 40px;
    margin: 25px;
    font-size: 20px;
}
.exp-links {
    text-decoration: none;
    color: black;
}
.exp-links:hover {
    background-color: var(--cor-principal);
    padding: 2px;
    border-radius: 15px;
    color: white;
}

/* Quinta Página */

.lista_abas {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.abas_item {
    text-decoration: none;
    font-family: var(--fonte-primaria);
    color: black;
    font-size: 25px;
}

/* Sexta Página*/
.contato-text  > h2 {
    font-family: var(--fonte-primaria);
    color: var(--cor-principal);
    font-size: 3em;
}

.contato-text > p {
    font-family: var(--fonte-secundaria);
    font-size: 2em;
}
.contato-text > a {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: black;
    font-size: 2em;
}
.contato-text > a:hover {
    background-color: var(--cor-principal);
    padding: .8em;
    border-radius: 15px;
    color: white;
}
.contato-item {
    border: 2px solid black;
    padding: 4em;
}
/* Home */


.home {
    display: grid;
    grid-template-columns: 68% 32%;
    min-width: 100vw;
}
.foto {
    max-height: 100vh;
}
.titulo-home1 {
    font-family: var(--fonte-primaria);
    font-size: 5em;
    margin: 10px;
    padding: 20px;
}
.home-section > p {
    font-family: var(--fonte-secundaria);
    font-size: 1.5em;
    margin: 10px;
}
.titulo-home2 {
    display: inline-block;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-principal);
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    font-size: 5em;
    color: black;
}
.sobremim_link:hover {
    color: white;
}
.outline {

}